<header>
    <h1>Bloggify</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/blogs/create">Create</a></li>
        </ul>
    </nav>
</header>