<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <div class="container">
        <%- include("./partials/header.ejs") %> 
        <div class="main">
            <h2>Bloggify, for the curious mind <span style="color: red;">&#9829;</span></h2>
            <a href="/blogs" style="background: rgb(9, 151, 187); color: #fff; text-align: center; padding: 1rem 1.3rem; margin-top: 1rem; font-size: 1.3rem;">Explore Blogs</a>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %> 
</body>
</html>